<html>

    <head>
    </head>

    <body>
        <h1>"Wazzzzzup yo.  You wanna rate a movie? Cool!"</h1>
        <h3>Movie Title: {{ movie.name }}</h3>
         <div id='rate_movie'>
        <form class="form-signup" method="post">
            Your Rating:
            <input type="radio" name="rating" value='1' checked=checked/>ThE WoRst >:(
            <input type="radio" name="rating" value='2' checked=checked/>2 Stars!
            <input type="radio" name="rating" value='3' checked=checked/>3 Stars!
            <input type="radio" name="rating" value='4' checked=checked/>4 Stars!
            <input type="radio" name="rating" value='5' checked=checked/>The BEst!
            <br></br>
            <button type="btn btn-lg btn-primary btn-block" type="submit">Add Rating</button>
        </form>
    </body>

</html>